#logo {
  height: 2em;
  margin: -8px -8px -10px -10px;
}

.jumbotron {
  background-image: url(../img/iceback.jpg);
  margin-top: -2em;
  padding-left: 2em;
  text-align: center;
}

.jumbotron p img {
  padding-top: 1em;
  height: 13em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.jumbotron p {
  text-align: center;
  text-shadow: #D3D3D3 0.05em 0.1em 0.5em;
  font-size: 28px;
  margin-top: 2em;
  margin-bottom: 1em;
  font-weight: 370;
  font-family: 'Roboto', sans-serif;
}

.glyphs {
  height: 15px;
}

.glyphs img {
  height: 17px;
}

.glyphs:hover img{
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
}

.glyphs img{
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}

.btn {
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Arial;
  width: 175px;
  font-size: 20px;
  background: #c7d0d6;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
 .myButtonP {
   color: #0aa5ce;
 }

 .myButtonL {
   color: #84ae04;
   /*padding-left: 45px;
   padding-right: 45px*/
 }

.btn:hover {
  background: #90999e;
  text-decoration: none;
}

.myButton:active {
	position:relative;
	top:1px;
}

#map {
  width: 500px;
  height: 400px;
  display: block;
}

.footer p {
  text-align: center;
  margin-top: 3em;
}

label {
  margin-left: 20px;

}

textarea {
  margin-left: 2em;
}

.show-pickup-details {
  display: none;
}
